/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;

}

/* Variables */

:root {


  --main-text-black: #000000;
  --main-paragraph: #283136;
  --basic-dark: #666666;
  --main-logo-hover: #A6A6A6;

  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #EEEEEE;

  --button-main: #FB565A;
  --button-hover: #E74246;
  --button-active: #D7373B;

  --button-apps-main: #00CA74;
  --button-apps-hover: #00BC6C;
  --button-apps-active: #00AA62;

  --button-presentation-main: #EFC849;
  --button-presentation-hover: #EAB534;
  --button-presentation-active: #E5A722;

  --social-icon-main: #E1E1E1;

/* Catalog button */

--button-2-hover: #DFDFDF;
--button-2-active: #D5D5D5;
--catalog-hover: #4D4D4D;

--pagination-grey: #DBDBDB;

/* filter */

--filter-range-bar: #D7DCDF;
--filter-range-controls: #ABABAB;
--shadow: #CFCFCF;

/* Modal */

--modal-text: #444444;
--modal-border: #D7DCDE;
--modal-border-hover: #B4B9BB;

}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-black);
  background-color: var(--main-bg-color);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;

}

/* Grid Catalogue */
.main-inner-page {
 display: grid;
 grid-template-columns: 260px 1fr;
 align-content: start;
 column-gap: 140px;


}

/* Flex Catalog */

.catalog-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom 25px;
  padding: 0;

}


/* Navigation */

.main-container,
.main-footer {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}

.main-header {
  background-color: var(--secondary-bg-color) ;

}

.wrapper {
  width: 1160px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;

}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 75px;

}

.nav-list a {
  display: block;
  margin-left: 45px;
  padding-bottom: 15px;
  padding-top: 16px;

}

.nav-bag a {
  display: block;

}

.nav-bag .bag-link {
  position: relative;
  padding-left: 56px;

}

.navigation a {
  text-decoration: none;
  color: var(--main-text-black) ;
  display: block;

}

.navigation a:hover {
  color: var(--button-main);

}

.navigation a:active {
  color: var(--main-text-black);
  opacity: 0.3;

}

.navigation {
  font-weight: 500;
  text-transform: uppercase;

}

.bag-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url('../img/bag-icon.svg');
  background-repeat: no-repeat;

}

/* button main*/

.button {
  display: inline-block;
  font: inherit;
  padding: 15px 40px;
  text-align: center;
  vertical-align: middle;
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--button-main);
  border: none;
  text-transform: uppercase;
  border-radius: 3px;

}

/* Slider */

.slider {
  background-color: var(--secondary-bg-color);
  position: relative;

}

.slide {
 padding: 20px 750px 75px 0px;
 display: none;

}

.slide-1 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;

}

.slide-2 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-2.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;

}

.slide-3 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-3.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;

}

.slide-current {
  display: block;
}

.slider h2{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;

}

.slider p {
  color: var(--main-paragraph);
  text-align: left;
  margin-bottom: 38px;

}

.slider a {
  text-decoration: none;

}

.slide-button {
  padding: 14px 53px;
}

.button:hover {
  background-color: var(--button-hover);

}

.button:active {
  /* opacity: 0.3; */

  background-color: var(--button-active);
  color:rgba(255, 253, 253, 0.4);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-controls {
  position: absolute;
  width: 88px;
  top: 305px;
  left:536px;
  display: flex;
  justify-content: space-between;

}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  cursor: pointer;
  border: none;

}

.current {
 box-shadow: inset 0 0 0 4px white,
    inset 0 0 0 7px var(--filter-range-controls) ;

}

/* Services */

.services a {
  text-decoration: none;
  position: relative;
  top: 8px;

}

.services-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 78px;
  margin-bottom: 87px;

}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;


}

.services p {
  color: var(--main-paragraph);
  text-align: left;
}

.service-item {
 padding-right: 60px;

}

.services-sites::before {
  content: "";
  background-image: url("../img/services-1.png");
  background-color: var(--button-main);
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

.services-apps::before {
  content: "";
  background-color: var(--button-apps-main);
  background-image: url("../img/services-2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

.services-presentations::before{
  content: "";
  background-color: var(--button-presentation-main);
  background-image: url("../img/services-3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

/* Green and Yellow buttons */

.apps-green {
  background-color: var(--button-apps-main);

}

.apps-green:hover {
  background-color: var(--button-apps-hover);

}

.apps-green:active {
  background-color: var(--button-apps-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation-yellow {
  background-color: var(--button-presentation-main);

}

.presentation-yellow:hover {
  background-color: var(--button-presentation-hover);
}

.presentation-yellow:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--button-presentation-active);

}

/* About */

.about-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 100px ;
  padding-top: 48px;
  padding-bottom: 40px;
  border-top: solid 2px var(--secondary-bg-color);

}

.about h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 33px;



}

.about p {
  font-size: inherit;
  color: var(--main-paragraph);
  text-align: left;
  margin: 0;
  padding-bottom: 25px;
  padding-right: 80px;

}

.about h3 {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 15px 0px 0px;
}

.about ul{
  list-style: none;
  padding-left: 0px;

}

.about-list {
  color: var(--main-paragraph);
  list-style: none;

}

.about-list-item {
  padding: 11px 0px;

}

.about-list-item::before {
  content: "";
  background-color: var(--button-main);
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 10px;

}

/* Benefits */

.benefit-wrap::before{
  content: "";
  display: block;
  background-image: url("../img/nerds-illustration.png");
  width: 360px;
  min-height: 210px;
  background-repeat: no-repeat;

}

.benefits h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 25px 0px;
  display: inline-block;

}

.benefits-list dt {
  line-height: 18px;
  color: var(--main-paragraph);

}

.benefits-list {
  display: grid;
  grid-template-rows: 33%;
  align-items: center;
  margin-top: 24px;

}

.benefit-name {
  grid-row: 2;

}

.benefit-number {
  font-size: 2.8em;
  line-height: 142%;
  font-weight: 700;
  grid-row: 1;
  margin:0px;
  padding-bottom: 15px;

}

.benefit-symbol {
  font-size: 26px;

}

/* Work Examples */

.work-example {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  border-top: solid 2px var(--secondary-bg-color);
  border-bottom: solid 2px var(--secondary-bg-color);
  padding-top: 47px;
  padding-bottom: 37px;
  position: relative;
  margin-bottom: 32px;
}

/* Come back here */
.work-example-item {
  position: relative;
}

.work-example-item:not(:last-child)::after{
 content: "";
 width: 2px;
 height: 50px;
 background-color: var(--secondary-bg-color);
 display: block;
 position: absolute;
 left: 250px;
 top: 50%;
 margin-top: -25px;


}

.work-example-item img {
  opacity: 0.2;
  position: relative;
}

.work-example-item:hover img {
  opacity: 1;

}

.work-example-item:active img {
  opacity: 0.1;

}


/* Footer */

.map {
  background-color: var(--secondary-bg-color);
  height: 416px;
  position: relative;
  margin-top: 45px;
  min-width: 100%;

}

.map-image {
  width: 100%;
  max-height: 416px;
  object-fit: cover;

}

.contact-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact-info {
 background-color: var(--main-bg-color);
 margin-top: -365px;
 z-index: 2;
 position: relative;
 width: 210px;
 padding: 35px 55px;

}

.phone-number a {
  text-decoration: none;
  color: var(--basic-dark);

}

.phone-number {
  padding-top: 7px;
  padding-bottom: 19px;
}

.contact-info h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-bg-colors);

}

.address,
.phone-number {
  line-height: 18px;
  color: var(--basic-dark);

}



.social-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  margin: 63px 0px ;

}

.friends-offer h3 {
  padding:0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;


}

.friends-offer p {
  color: var(--main-paragraph);
  margin-top: 10px;

}

.friends-offer {
  padding-top: 15px;
  padding-left: 3px;

}

.footer-social {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  width: 260px;
  padding-left: 0;
  margin: 0px;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-icon-main);
}

.social-button:hover {
  background-color: var(--button-hover);

}

.social-button:active {
  background-color: var(--button-active);

}

.social-button :active path {
  fill-opacity: 0.3;

}

/* Modal */

.modal {
  display: none;
  background-color: var(--main-bg-color);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  padding: 30px 100px 90px;
  position: fixed;
  margin: auto;
  overflow: scroll;
  max-height: 90vh;
  transition: 0.5s transform;
  z-index:3;

}

.modal-appear {
  display: block;

}


.modal h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: var(--main-text-black);
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.feedback-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--main-text-black);
  margin-top: 13px;
  margin-bottom: 10px;
  display: block;

}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  font: inherit;
  color: var(--modal-text);
  opacity: 0.5;
  border: 3px solid var(--modal-border);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 183px;

}

.feedback-form input:hover {
  border: 3px solid var(--modal-border-hover);


}

.feedback-form input:focus {
  border-color: var(--main-text-black);
  color: var(--main-text-black);
  opacity: 1;

}

.feedback-form input:invalid:not(:placeholder-shown) {
  border-color: var(--button-hover);
  color: var(--button-hover);
  opacity: 1;

}

.user-feedback:hover {
  border-color: var(--modal-border-hover);
}

.user-feedback:focus {
  color: var(--main-text-black);
  border-color: var(--main-text-black);
  opacity: 1;

}


.user-feedback {
  display: block;
  width: 760px;
  padding: 15px 10px 70px 10px;
  box-sizing: border-box;
  font: inherit;
  color: var(--modal-text);
  opacity: 0.5;
  border: 3px solid var(--modal-border);
  border-radius: 3px;
  resize: none;

}


.user-feedback textarea {
  padding: 12px 20px;

}

.button-send .button {
  width: 260px;
  margin-top: 48px;
  cursor: pointer;

}

.modal-close {
  text-decoration: none;
  position: absolute;
  top: 77px;
  left: 850px;
  border: 0;
  cursor: pointer;
  background-image: url("../img/close-cross-button.svg");
  width: 21px;
  height: 21px;
  opacity: 0.3;
  background-color: transparent;

}

.modal-close:hover {
  opacity: 1;

}

.modal-close:active {
  opacity: 0.1;

}


/* Catalog */

.nav-list .item-current {
  border-bottom: 3px solid var(--button-main);

}

.title-catalog {
  font-size: 55px;
  line-height: 53px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 105px;
  padding-top: 70px;
  margin: 0px;

}


/* filters */

.filters {
 margin-top: 7px;

}
.filters p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

}

.filter-range input {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--main-paragraph);

}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

}

.filters ul {
  list-style: none;
  font-size: inherit;
  color: var(--main-text-black);
}

.filters fieldset {
  padding: 0;
  border: none;
  margin-bottom: 13px;
  margin-top: 12px;

}

.filters fieldset:first-child {
  margin-bottom: 53px;

}

.filter-option {
  padding-bottom: 15px;

}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;


}

/* range */

.filter-range {
  width: 260px;
  margin-top: 49px;

}

.range-controls {
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  position: relative;

}

.range-controls .scale {
  height: 2px;
  background:var(--filter-range-bar);

}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--button-apps-main);

}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--main-logo-hover);
  border: 8px solid var(--main-bg-color);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);

}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;

}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  color: var(--main-paragraph);
  border: none;
  border-radius: 5px;
  background: var(--secondary-bg-color);
}

.price-controls {
  display: flex;
  justify-content: space-between;

}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 27px;
  background-image: url("../img/catalog/checkbox-off.svg") ;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;

 }


.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 27px;
  background-image: url("../img/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;

}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label:before,
.filter-input-checkbox:disabled + label:before {
  opacity: 0.1;
}


.filter-input-radio + label::before {
 content: "";
 position: absolute;
 top: -3px;
 left: -40px;
 width: 17px;
 height: 17px;
 border: 4px solid var(--catalog-hover);
 border-radius: 50%;
 opacity: 0.4;

}

.filter-input-radio:checked + label::after {
 content: "";
 position: absolute;
 top: 5px;
 left: -32px;
 width: 9px;
 height: 9px;
 background-color: var(--catalog-hover);
 border-radius: 50%;
 opacity: 0.4;

}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
  opacity: 1;

}


.filter-input-radio:disabled + label:before,
.filter-input-radio:disabled + label:after {
  opacity: 0.1;

}

.filter-input-radio:focus + label,
.filter-input-checkbox:focus + label {
  outline: auto;

}

.button-second {
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  color: var(--main-text-black);
  background-color: var(--secondary-bg-color);
  padding: 15px 88px;
  border-radius: 3px;
  cursor: pointer;

}

.button-second:hover {
  background-color: var(--button-2-hover);

}

.button-second:active {
  background-color: var(--button-2-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0,0,0,0.4);

}

/* Sort */


.sort-by p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;

}

.sort-by {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 35px;

}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 155px;

}

.sort-by li {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-left: 25px;

}

.sort-value a {
  text-decoration: none;
  color: var var(--main-text-black);
}

.sort-value {
opacity: 0.3;

}

.sort-value:hover {
  opacity: 0.6;

}

.sort-current {
  opacity: 1;
}

.sort-down {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background-image: url("../img//catalog/sort-button.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  background-color: transparent;

}

.sort-up {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background-image: url("../img//catalog/sort-button.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  background-color: transparent;
  transform: rotate(180deg);

}

.sort-buttons {
  display: flex;
  flex-wrap: wrap-reverse;

}

.sort-buttons :not(:last-child)  {
  margin-right: 17px;

}

/* Catalog */



.catalog-item {
  position: relative;
  width: 360px;
  min-height: 620px;
  margin-bottom: 25px;
  transition: box-shadow .3s;
  overflow: auto;

}

.catalog-item:nth-child(2n) {
  margin-right: 0;

}

.catalog-item::before {
 content: "";
 display: block;
 position: relative;
 width: 360px;
 height: 40px;
 background-image: url("../img/catalog/browser.svg");
 background-repeat: no-repeat;
 opacity: 0.12 ;

}


.catalog-item:hover,
.catalog-item:focus-within {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.catalog-item:hover::before,
.catalog-item:focus-within::before{
  opacity: 1;

}

.item-product-link{
  text-decoration: none;
  color: var(--main-text-black);
}

.item-name {
  font-size: 1.125em;
  text-transform: uppercase;
  padding-top: 28px;

}

.item-name:hover,
.item-name:focus-within {
  color: var(--button-hover);

}

.item-name:active {
  color: var(--main-text-black);
  opacity: 0.3;


}

.catalog-price p {
  color: var(--basic-dark);
  line-height: 18px;
  margin-bottom: 30px;

}

.catalog-price a:active {
  background-color: var(--button-active);

}


.catalog-price {
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 249px;
  overflow: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;

}


.catalog-item:hover .catalog-price,
.catalog-item:focus-within .catalog-price  {
  opacity: 1;
  box-shadow: (0px 6px 15px rgba(0, 0, 0, 0.25));
}

.price-button {
  padding: 14px 79px;

}


/* Pagination */

.pagination-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 13px;

}

.pagination-list a {
  text-decoration: none;
  padding: 12px 20px;
  color: var(--main-text-black);
  border-radius: 3px;
}

.pagination-item a {
 display: block;
 background-color: var(--secondary-bg-color);
 margin-right: 10px;

}

.pagination-item-button .button-second {
  margin-left: 0px;
  padding: 15px 79px;
}

.pagination-item-current a {
  border: 3px solid var(--pagination-grey);
  margin-right: 10px;

 }

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--button-2-hover);

}

.pagination-item a:active {
  background-color: var(--button-2-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.4)
}



