/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;

}

/* Variables */

:root {


  --main-text-black: #000000;
  --main-paragraph: #283136;
  --basic-dark: #666666;
  --main-logo-hover: #A6A6A6;

  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #EEEEEE;

  --button-main: #FB565A;
  --button-hover: #E74246;
  --button-active: #D7373B;

  --button-apps-main: #00CA74;
  --button-apps-hover: #00BC6C;
  --button-apps-active: #00AA62;

  --button-presentation-main: #EFC849;
  --button-presentation-hover: #EAB534;
  --button-presentation-active: #E5A722;

  --social-icon-main: #E1E1E1;

/* Catalog button */

--button-2-hover: #DFDFDF;
--button-2-active: #D5D5D5;

--catalog-hover: #4D4D4D;

--pagination-grey: #DBDBDB;


}

/* Global */

body {
  min-width: 1157px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-black);
  background-color: var(--main-bg-color);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;

}

/* Grid Catalogue */
.main-inner-page {
 display: grid;
 grid-template-columns: 260px 1fr;
 align-content: start;
 column-gap: 140px;

}

/* Flex Catalog */

.catalog-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom 25px;
  padding: 0;

}


/* Navigation */

.main-container,
.main-footer {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;

}

.main-header {
  background-color: var(--secondary-bg-color) ;

}

.main-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;

}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

}

.nav-list a {
  display: block;
  padding: 82px 15px 20px;

}

.nav-bag a {
  display: block;
  padding: 82px 15px 20px;

}

.navigation a {
  text-decoration: none;
  color: var(--main-text-black) ;
  display: block;
  /* padding: 82px 15px 20px; */

}

.navigation a:hover {
  color: var(--button-main);

}

.navigation a:active {
  color: var(--main-text-black);
  opacity: 0.3;

}

.navigation {
  font-weight: 500;
  text-transform: uppercase;

}

.header-logo {
  padding: 49px 15px 20px;

}

.nav-bag .bag-link {
  position: relative;
  padding-left: 50px;

  /* outline: 5px solid #ff0000; */
}

.bag-link::before {
  content: "";
  position: absolute;
  top: 84px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url('../img/bag-icon.svg');
  background-repeat: no-repeat;
}


/* Slider */

.slider {
  background-color: var(--secondary-bg-color);
  width: 1157px;
  height: 431px;


}

.slider h2{
  font-size: 3.43em; /* 55px; */
  line-height: 100%; /* 55px; */
  font-weight: 500;
  text-align: left;

}

.slider p {
  color: var(--main-paragraph);
  text-align: left;

}

.slider a {
  text-decoration: none;

}

.button {
  font: inherit;
  padding: 10px 30px;
  text-align: center;
  vertical-align: middle;
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--button-main);
  border: none;
  text-transform: uppercase;
  border-radius: 3px;

}

.button:hover {
  background-color: var(--button-hover);

}

.button:active {
  opacity: 0.3;
  background-color: var(--button-active);
}

.slider-1 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;
  width: 760px;
  max-height: 430px;

}

.slider-2 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-2.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;


}
.slider-3 {
  background-color: var(--secondary-bg-color);
  background-image: url("../img/slider/slide-3.png");
  background-repeat: no-repeat;
  background-position: right, 0 0;

}

/* Services */

.services a {
  text-decoration: none;
  position: relative;
  top: 20px;

}

.services-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;


}

.services p {
  color: var(--main-paragraph);
  text-align: left;
}

.service-item {
 padding: 15px 15px 40px 0px;
 margin-bottom: 40px;

}



.services-sites::before {
  content: "";
  background-image: url("../img/services-1.png");
  background-color: var(--button-main);
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

.services-apps::before {
  content: "";
  background-color: var(--button-apps-main);
  background-image: url("../img/services-2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

.services-presentations::before{
  content: "";
  background-color: var(--button-presentation-main);
  background-image: url("../img/services-3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 146px;
  display: block;

}

/* Green and Yellow buttons */

.apps-green {
  background-color: var(--button-apps-main);

}

.apps-green:hover {
  background-color: var(--button-apps-hover);

}

.apps-green:active {
  opacity: 0.3;
  background-color: var(--button-apps-active);
}

.presentation-yellow {
  background-color: var(--button-presentation-main);

}

.presentation-yellow:hover {
  background-color: var(--button-presentation-hover);
}

.presentation-yellow:active {
  opacity: 0.3;
  background-color: var(--button-presentation-active);

}

/* About */
.about-wrap {
  display: grid;
  grid-template-columns: 2fr 360px;
  column-gap: 10px ;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: solid 2px var(--secondary-bg-color);

}



.about h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0px;
  padding: 25px 0px;



}

.about p {
  color: var(--main-paragraph);
  text-align: left;
  margin: 0;
  padding-bottom: 25px;
  padding-right: 100px;

}

.about h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 25px 0px;
}

.about ul{
  list-style: none;

}

.about-list {
  color: var(--main-paragraph)
  list-style: none;

}

.about-list-item {
  padding: 20px 0px;

}

.about-list-item::before {
  content: "";
  background-image: url('../img/list-bullet.svg');
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 2px;
  left: -45px;
  top: 12px;
  position: relative;



}
/* Benefits */



.benefit-wrap::before{
  content: "";
  display: block;
  background-image: url("../img/nerds-illustration.png");
  width: 360px;
  min-height: 210px;
  background-repeat: no-repeat;

}

.benefits h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding: 25px 0px;
  width: fit-content;

}

.benefits-list dt {
  line-height: 18px;
  color: var(--main-paragraph);
  display: flex;

}



.benefit-number {
  font-size: 2.8em;
  line-height: 142%;
  font-weight: 700;


}

.benefit-symbol {
  font-size: 26px;

}

/* Work Examples */

.work-example {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);

}

.work-example-item {
  opacity: 0.2;
}

.work-example-item:hover {
  opacity: 1;

}

.work-example-item:active {
  opacity: 0.1;

}


/* Footer */

.phone-number a {
  text-decoration: none;
  color: var(--basic-dark);

}

.contact-info h3 {
  font-size: 1.12em; /* 18px; */
  line-height: 166%; /* 30px; */
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-bg-colors);
}

.address,
.phone-number {
  line-height: 1em;
  color: var(--basic-dark);

}

.social-wrapper {
  display: grid;
  grid-template-columns: 360px 760px;
  margin: 63px 0px ;
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}


.friends-offer h3 {
  padding:0;
  margin: 0;
  font-size: 36px; /* 36px; */
  line-height: 36px; /* 36px; */
  font-weight: 700;


}

.friends-offer p {
  color: var(--main-paragraph);

}


/* Catalog */

.item-current {

  border-bottom: 4px solid var(--button-main);

}


.title-catalog {
  font-size: 3.43em; /* 55px; */
  line-height: 100%; /* 55px; */
  font-weight: 500;
  text-align: center;

}

.filters p {
  font-size: 1.25em; /* 18px; */
  line-height: 166%; /* 30px; */
  font-weight: 500;
  text-transform: uppercase;

}

.filter-range input {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--main-paragraph);

}

.filters legend {
  font-size: 1.25em; /* 18px; */
  line-height: 166%; /* 30px; */
  font-weight: 500;
  text-transform: uppercase;

}

.filters ul {
  list-style: none;
  font-size: inherit;
  color: var(--main-paragraph);

}

.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 50px;

}


.button-second {
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  color: var(--main-text-black);
  background-color: var(--secondary-bg-color);

}

.button-second:hover {
  background-color: var(--button-2-hover);

}


.button-second:active {
  background-color: var(--button-2-active);
  box-shadow: inset 0 3 0 0 rgba(0, 1, 1, 0.1);
  border-radius: 3px;

}

/* Sort */

.sort-by {
  margin: 0;
  padding: 0;

}

.sort-by p {
  font-size: 1.25em; /* 18px; */
  line-height: 166%; /* 30px; */
  font-weight: 500;
  text-transform: uppercase;
}

.sort-by ul {
  list-style: none;
  font-size: 0,8em;
  text-transform: uppercase;

}

.sort-value {
color: var var(--main-text-black);
opacity: 0.3;

}

.sort-value:hover {
  opacity: 0.6;

}

.sort-value:active {
  opacity: 1;

}

/* Catalog */

.catalog-item {
  width: 360px;
  min-height: 620px;
  margin-right: 25px;
  margin-bottom: 30px;


}

.catalog-item:nth-child(2n) {
  margin-right: 0;

}

.item-name {
  font-size: 1.125em;
  text-transform: uppercase;

}

.item-name:hover {
  color: var(--button-hover);

}

.catalog-price p {
  color: var(--basic-dark);


}

.catalog-price a:active {
  background-color: var(--button-active);

}

/* Pagination */

.pagination-list {
  list-style: none;

}

.pagination-list a {
  text-decoration: none;
  color: var(--main-text-black);
}

.pagination-item a {
 background-color: var(--secondary-bg-color);

}

.pagination-item a:hover {
  background-color: var(--button-2-hover);

}

.pagination-item a:active {
  opacity: 0.3;
  background-color: var(--button-2-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
 border: 3px solid;
 border-color:var(--pagination-grey);

}

